.navbar-fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    max-width: 800px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 30px;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: polygon-in-opposing-corners 1.9s;
}

@keyframes polygon-in-opposing-corners {
    from {
      clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
    }
    to {
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
  }
  
  [transition-style="in:polygon:opposing-corners"] {
    animation: s cubic-bezier(.25, 1, .30, 1) polygon-in-opposing-corners both;
  }



.navbar-fixed-light{
    border: 3px solid #7246c9;
    background-color: #eeedf0;
}

.navbar-fixed-dark{
    border: 3px solid #ff6900;
    background-color: transparent;
}

.navbar-logo-fixed{
    height: 20px;
    width: 60px;
    margin-right: 5px;
}

.navbarFix-heading{
    font-size: 26px;
}

.navbarFix-heading-light {
    color: #7246c9;
}

.navbarFix-heading-dark{
    color: #ff6900;
}

.navbar-fixed-menu{
    display: flex;
    align-items: center;
    color: #7246c9;
    gap: 6px;
}

.navbar-fixed-menu-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 6px;
    margin-bottom: 5px;
}

.item {
    font-size: 13px;
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .navbar-fixed {
        width: 85%;
    }

    .navbar-fixed-menu{
        gap:10px;
    }

    .navbar-fixed-menu-list{
        gap: 10px;
    }

    .item {
        font-size: 14px;
        font-weight: 700;
    }

    
    .navbar-logo-fixed{
        height: 30px;
        width: 110px;
    }
    
}

@media screen and (min-width:992px) {
    .navbar-fixed {
        width: 90%;
        
    }
    .navbarFix-heading{
        font-size: 30px;
    }

    .navbar-logo-fixed{
        height: 30px;
        width: 120px;
    }
    .item {
        font-size: 16px;
    }

}


@media screen and (min-width:1200px) {
    .navbar-fixed {
        width: 95%;
    }

    .navbarFix-heading{
        font-size: 32px;
    }
}